# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Base de datos SQLite
db.sqlite3

# Archivos de entorno
.env
*.env

# Archivos de migraciones auto-generadas (opcional si quieres versionar)
usuarios/migrations/
login_app/migrations/
base/migrations/

# Archivos estáticos compilados – si usas collectstatic en producción
/staticfiles/
/static/

# Logs
*.log

# IDEs y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema operativo
.DS_Store
Thumbs.db
