.sidebar-brand-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar-brand-logo {
    width: 5rem;   /* igual que el tamaño de un fa-icon (aprox 24px) */
    height: auto;
    object-fit: block;
  }
  
#template-row button {
  display: none;
}

.select2-container--bootstrap4 .select2-results__option[aria-disabled="true"] {
  color: #c0c0c0 !important;
  font-style: italic;
}

.select2-container--bootstrap4 .select2-selection {
  max-width: 250px !important; 
}

.select2-container--bootstrap4 .select2-selection__rendered {
  display: inline-block;     
  max-width: 100%;             
  white-space: nowrap;         
  overflow: hidden !important; 
  text-overflow: ellipsis;     
}

.select2-container--bootstrap4 .select2-results__option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Asegura que el modal de crear producto se superponga al de editar entrada */
#modalCrearProducto {
  z-index: 1065 !important;
}
#modalCrearProducto .modal-backdrop {
  z-index: 1060 !important;
}