{% csrf_token %}

<div class="form-group">
    <label for="{{ form.nombre.id_for_label }}">Nombre</label>
    {{ form.nombre }}
    {% if form.nombre.errors %}
        <div class="text-danger small">{{ form.nombre.errors.0 }}</div>
    {% endif %}
</div>

<div class="form-group">
    <label for="{{ form.clues.id_for_label }}">CLUES</label>
    {{ form.clues }}
    {% if form.clues.errors %}
        <div class="text-danger small">{{ form.clues.errors.0 }}</div>
    {% endif %}
</div>

<div class="form-group">
    <label for="{{ form.direccion.id_for_label }}">Dirección</label>
    {{ form.direccion }}
    {% if form.direccion.errors %}
        <div class="text-danger small">{{ form.direccion.errors.0 }}</div>
    {% endif %}
</div>

<div class="form-group">
    <label for="{{ form.departamentos.id_for_label }}">Departamentos</label>
    {{ form.departamentos }}
    {% if form.departamentos.errors %}
        <div class="text-danger small">{{ form.departamentos.errors.0 }}</div>
    {% endif %}
</div>

{% if form.fields.estado %}
<div class="form-group">
    <label for="{{ form.estado.id_for_label }}">Estado</label>
    {{ form.estado }}
    {% if form.estado.errors %}
        <div class="text-danger small">{{ form.estado.errors.0 }}</div>
    {% endif %}
</div>
{% endif %}
