<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'base/img/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}IMSS Bienestar{% endblock %}</title>

<!-- Fuentes personalizadas para esta plantilla -->
<link href="{% static 'base/css/all.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Estilos personalizados para esta plantilla -->
<link href="{% static 'base/css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Envoltorio de página -->
    <div id="wrapper">

        <!-- Barra lateral -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Barra lateral - Marca -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">IMSS Bienestar</div>
            </a>

            <!-- Divisor -->
            <hr class="sidebar-divider my-0">

            <!-- Elemento de navegación - Panel de control se debe de cambiar ejmplo para uno -->
            <!-- Inicio -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-home"></i>
                    <span>Inicio</span>
                </a>
            </li>            

            <!-- Divisor ejemplo-->
            <hr class="sidebar-divider">

            <!-- Título ejemplo-->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Elemento de navegación - Contraer menú de páginas ejemplo para mas para selecionar -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Debes de agregar mas elememntos de na vegacion aqui usando de ejemplo los de arriba -->

            <!-- Divisor -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Alternador de barra lateral (barra lateral) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- Fin de la barra lateral -->

        <!-- Envoltorio de contenido -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Contenido principal -->
            <div id="content">

                <!-- Barra superior -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Alternar barra lateral (barra superior) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Barra de navegación superior -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Elemento de navegación - información del usuario -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user_full_name|default:"Invitado" }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'base/img/undraw_profile.svg' %}">
                            </a>
                            <!-- Menú desplegable - Información del usuario -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- Fin de la barra superior -->

                <!-- Contenido de la página de inicio -->
                <div class="container-fluid">

                {% block content %}
                <!-- Aquí va el contenido dinámico de cada vista -->
                {% endblock %}                

                </div>
                <!-- /.contenedor-fluido -->

            </div>
            <!-- Fin del contenido principal -->

        </div>
        <!-- Fin del contenedor de contenido -->

    </div>
    <!-- Envoltorio de fin de página -->

    <!-- Desplazarse hasta el botón superior-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Cerrar sesión Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Listo para partir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione “Cerrar sesión” a continuación si está listo para finalizar su sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

<!-- Bootstrap centro JavaScript -->
<script src="{% static 'base/js/jquery.js' %}"></script>
<script src="{% static 'base/js/bootstrap.bundle.js' %}"></script>

<!-- centro complemento JavaScript -->
<script src="{% static 'base/js/jquery.easing.js' %}"></script>

<!-- scripts personalizados para todas las páginas -->
<script src="{% static 'base/js/sb-admin-2.js' %}"></script>

<!-- Complementos a nivel de página -->
<script src="{% static 'base/js/Chart.js' %}"></script>

<!-- Scripts personalizados a nivel de página -->
<script src="{% static 'base/js/chart-area-demo.js' %}"></script>
<script src="{% static 'base/js/chart-pie-demo.js' %}"></script>

<!-- Scripts personalizados -->
<script src="{% static 'base/js/personalizado.js' %}"></script>

<!-- Scripts para Expirar Sesión -->
<script>
    ;(function(){
    const idleSeconds = {{ request.session.get_expiry_age }};
      const idleMs      = idleSeconds * 1000;
    let idleTimer;
    
    function onIdle(){
        window.location.href = "{% url 'login' %}?expired=1";
    }
    
    function resetIdle(){
        clearTimeout(idleTimer);
        idleTimer = setTimeout(onIdle, idleMs);
    }
    
    ['mousemove','keydown','click','scroll','touchstart'].forEach(evt =>
        document.addEventListener(evt, resetIdle)
    );
    
    resetIdle();
    })();
    </script>

</body>

</html>